/*  your css code here. If applicable */
/* General Styles */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	align-items: flex-start;
}

/* 1. Header Styles */
.header {
    background-color: #011e29;
    color: white;
    text-align: center;
	padding: 20px;
	font-size: 24px
}

/* 2. Latest News Section */
.latest-news-section {
    background-color: white; /* Contrast for readability */
    padding-left: 20px;
	width: 200px;
   text-align: center;
    margin: 0 auto;
	border-radius: 5px;
}

.latest-news-section ul {
    list-style-type: square;
    padding-left: 20px;
}

.latest-news-section li {
    margin-bottom: 5px;
}

.main_article{
	background-color: white;
	width: 500px;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
}
/* 3. Pictorial News Section */
.pictorial-news-section {
    background-color: white;
    padding: 20px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
	
}
.pictorial-news-section img{
	width: 100%;
	margin-bottom: 5px;
	border-radius: 5px;
}
/* 
.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.news-item {
    flex: 1;
    min-width: 250px;
}

.news-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
} */

